<div class="modal fade" id="modal-bookmarks-email" tabindex="-1" aria-label="Email Bookmarks" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title h4"><%= t('bookmarks.email_link')%></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render 'email_form' %>
    </div>
  </div>
</div>
