<div class="alert <%= @classes %> alert-dismissible shadow-sm d-flex align-items-center">
    <%= render(icon.new) %>
    <div class="text-body ps-2">
        <div><%= message %></div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>