<%= disclaimer_alert %>
<%= export_info_alert %>

<div class='d-flex justify-content-start justify-content-md-end pe-1'>
  <span class='ms-1 ms-md-5'><%= export_link %></span>
  <span class='ms-3 ms-md-5'><%= email_link %></span>
</div>
