<div id="collection-source" class='pt-4'>
  <span class="me-2" aria-hidden="true">
    <%= helpers.blacklight_icon(:collection_source, classes: 'collection-source-icon') %>
  </span>
  <%= source_message %>
</div>