<div class="loading-placeholder p-2 justify-content-center">
  <%= image_tag 'rosette.png', height: '42', width: '42', class: 'p-0 m-0' %>
  <p class="d-inline align-middle ms-3 m-0 p-0 pt-1 pe-4 fs-5"><%= t('loading_placeholder')%></p>
</div>
