<li class='breadcrumb-item'>
  <span class="ml-3 ms-3" aria-hidden="true">
    <%= blacklight_icon(:repository, classes: 'al-repository-content-icon') %>
  </span>
  <% if repository_path %>
    <%= link_to(@document.repository, helpers.repository_collections_path(@document.repository_config)) %>
  <% else %>
    <%= @document.repository %>
  <% end %>
</li>

