<div class="<%= @classes %>">
  <%= link_to helpers.blacklight_icon('outline_info', classes: 'me-1 pt-0 d-inline-block') + t('search_tips.title'),
              helpers.search_tips_path,
              data: { blacklight_modal: 'trigger' }  %>
</div>
