<div id="using-these-materials">
  <h2 class="al-show-sub-heading"><%= t("using_these_materials.heading") %></h2>
  <div class="pt-2">
    <ul>
      <li>
        <%= link_to t("using_these_materials.info_for_visitors"), repository_url, target: "_blank" %>
      </li>
      <li>
        <%= link_to t("using_these_materials.how_to_request"),
              "https://library.stanford.edu/access-rare-and-distinctive-materials", target: "_blank" %>
      </li>
      <li>
        <%= link_to t("using_these_materials.access_and_use"), "#access-and-use" %>
      </li>
    </ul>
  </div>
</div>
