<header role="banner">
  <%= render 'shared/top_navbar' %>
  <%= render 'shared/header_navbar' %>

  <div class="search-bar-container">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="navbar-search">
            <%= render_search_bar %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
