<section id="pre-footer" class="pt-3 pb-2">
  <div class="container">
    <div class="row">
    <div id="sul-footer-img" class="col-sm-12 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-md-start">
      <%= link_to 'https://library.stanford.edu' do %>
        <%= image_tag "StanfordLibraries-logo-whitetext.svg", alt: "Stanford Libraries", height: 45 %>
      <% end %>
    </div>
    <div class="col d-flex justify-content-md-start justify-content-center">
      <ul class="list-unstyled d-flex mt-3 mt-md-1 mt-lg-3 ms-xl-3 text-center">
        <li class="mx-2 mx-md-3"><a href="https://library.stanford.edu/libraries-0/branches-and-centers">Hours &amp; locations</a></li>
        <li class="mx-2 mx-md-3"><a href="https://mylibrary.stanford.edu">My Account</a></li>
        <li class="mx-2 mx-md-3"><a href="https://library.stanford.edu/contact-us">Contact us</a></li>
        <li class="mx-2 mx-md-3"><a href="https://library-status.stanford.edu/">System status</a></li>
      </ul>
    </div>
  </div>
</section>