<div class="pt-2">
  <ul>
    <li>
      <%= link_to t(".info_for_visitors"), repository.url, target: "_blank" %>
    </li>
    <li>
      <%= link_to t(".how_to_request"),
            "https://library.stanford.edu/access-rare-and-distinctive-materials", target: "_blank" %>
    </li>
    <li>
      <%= link_to t(".access_and_use"), "#access-and-use" %>
    </li>
  </ul>
</div>
