.bg-cardinal-red {
  background-color: $cardinal-red;
}

#header-navbar {
  box-shadow: 0 4px 8px -2px $sul-shadow-color;
  min-height: 100px;

  h1 {
    a {
      color: $white;
      text-decoration: none;

      &:hover {
        border-bottom: transparent;
      }
    }
  }

  .navbar-brand {
    background-position: center;
    background-size: contain;
    flex: 0 0 175px;
    font-size: $h1-font-size;
    height: auto;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.topnav-links {
  a {
    border-bottom: 3px solid transparent;
    color: $white;
    margin-left: $spacer;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
      border-bottom: 3px solid $white;
    }
  }

  .navbar-link {
    svg {
      fill: $white;
      stroke: $white;
    }
  }
}
