<h2><%= t('.heading') %></h2>
<%= t('.description_html') %>
<%= t('.information_list.title_html') %>
<div>
  <ul>
    <% t('.information_list.entries').each do |entry| %>
      <li><%= entry %></li>
    <% end %>
    </ul>
</div>
