<div id="featured-item-wrapper" class="d-none d-lg-block">
  <% item = Settings.featured_items.sample %>
    <div class="featured-item">
      <img src="<%= item.image_url %>" class="d-block w-100" alt="<%= item.image_alt %>">
      <div class="featured-item-caption d-md-block py-1 px-3">
        <p class="mb-1"><%= item.caption_html.html_safe %></p>
      </div>
    </div>
</div>