<div class='bg-dark'>
  <div class="container">
    <div class="row">
      <div id="sul-footer-img" class="col py-3">
        <%= link_to 'https://library.stanford.edu' do %>
          <%= image_tag "StanfordLibraries-logo-whitetext.svg", alt: "Stanford Libraries", height: 45 %>
        <% end %>
      </div>
      <div class="col mt-2 mb-2 d-flex justify-content-end">
          <a href="/">Feedback</a>
      </div>
    </div>
  </div>
</div>