<div class="info-card col-md-12 col-lg-6">
  <div class="card h-100">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <%= image %>
        </div>
        <div class="col-9 ps-1 ps-sm-3 ps-md-5">
          <h2 class="card-title"><%= heading %></h2>
          <p class="card-text"><%= description %></p>
          <%= button %>
        </div>
      </div>
    </div>
  </div>
</div>
