<div class='al-masthead bg-dark'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-center justify-content-md-start">
        <span class="align-self-center"><%= image_tag 'rosette.png', height: '42', width: '42' %></span>
        <span class="h1"><%= heading %></span>
      </div>
    </div>
  </div>
</div>
