<div class='al-masthead bg-dark'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-center justify-content-md-start">
        <span class="h1 my-3"><%= heading %></span>
      </div>
    </div>
  </div>
</div>
