@import 'palette';
@import 'bootstrapVariables';
@import 'bootstrap';

$logo-image: url(StanfordLibraries-logo-whitetext.svg);
$logo-width: 200px;
$logo-height: 35px;
@import 'blacklight/blacklight';
@import 'arclight/application';
@import 'sulFooter';
