/* Shared styles across pages for Bootstrap cards */

.blacklight-landing_page .card,
.al-repositories .card {
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  background-color: var(--grey-lighter);
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  .card-img-top,
  .card-body {
    width: 100%;
    position: relative;
    margin: auto;
    top: -2rem;
  }

  .card-img-top {
    /* to make the image sizes consistent: */
    height: 230px;
    /* Crop the image to cover the specified height without changing aspect ratio */
    object-fit: cover;
  }

  .card-body {
    margin-bottom: -1.5rem;

    a.btn {
      width: 100%;
    }
  }

  h2,
  h3 {
    font-weight: bold;
  }
}

@media (min-width: 1400px) {
  .blacklight-landing_page,
  .al-repositories {
    .card h2 {
      font-size: 1.75rem;
    }
  }
}

.blacklight-landing_page {
  ul.locations {
    padding-left: 1.25rem;
    li::marker {
      color: var(--stanford-digital-blue);
    }
  }
}

.blacklight-landing_page .card-container,
.al-repositories .card-container {
  /* this centers the cards if there are less than 3 in a row */
  justify-content: center;
}

/* specific to repositories page */
.al-repositories .card-container {
  /* this margin counteracts the negative margin on the cards to create spacing between multiple rows of card-containers. */
  /* On the landing page there is only one row of card-containers so this is not needed */
  margin-top: 2rem;

  &:last-child {
    margin-bottom: 4rem;
  }

  .card-col {
    margin-bottom: 2rem;
  }

  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
}

/* for single stacked cards on small screen */
@media (max-width: 991.98px) {
  .al-repositories .card-container {
    margin-top: 0;
    .card-col {
      margin-top: 5rem;
    }
  }
}
