:root {
  --bs-secondary-rgb: var(--stanford-digital-blue-rgb);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--stanford-digital-blue);
  --bs-btn-border-color: var(--stanford-digital-blue);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--stanford-digital-blue);
  --bs-btn-hover-border-color: var(--stanford-digital-blue);
  --bs-btn-focus-shadow-rgb: 39, 94, 93;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--stanford-digital-blue);
  --bs-btn-active-border-color: var(--stanford-digital-blue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--stanford-digital-blue);
  --bs-btn-disabled-border-color: var(--stanford-digital-blue);
}

.btn-outline-secondary {
  --bs-btn-border-color: var(--stanford-digital-blue);
  --bs-btn-color: var(--stanford-digital-blue);
  --bs-btn-hover-color: var(--stanford-digital-blue);
  --bs-btn-hover-border-color: var(--stanford-digital-blue);
  --bs-btn-active-border-color: var(--stanford-digital-blue);
  --bs-btn-active-color:  var(--bs-body-bg);
  --bs-btn-active-bg: var(--stanford-digital-blue);
}

.bg-dark {
  --bs-dark-rgb: var(--stanford-palo-alto-dark-rgb);
  --bs-btn-bg: var(--stanford-palo-alto-dark-rgb);
}

.btn-secondary + .dropdown-menu,
.btn-outline-secondary + .dropdown-menu {
  --bs-dropdown-link-active-bg: var(--stanford-digital-blue);
}
