/* this css copies from bootstrap's carousel component */
.featured-item {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  display: block;
}

.featured-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #fff;

  a {
    color: var(--bs-white);
    font-weight: 600;
  }
}
