:root {
  /* https://identity.stanford.edu/design-elements/color/primary-colors/ */
  --stanford-cardinal: #8c1515;
  --stanford-black: #2e2d29; /* "100% black" in Stanford brand identity*/
  --stanford-white: #ffffff;

  /* https://identity.stanford.edu/design-elements/color/web/ */
  --stanford-palo-alto-light: #2d716f;
  --stanford-digital-red: #b1040e;

  /* https://identity.stanford.edu/design-elements/color/accent-colors/ */
  --stanford-illuminating: #fedd5c;

  /* Non-Stanford identity colors */
  --grey-lighter: #ededed;
  --whisper: #eaeaea;
  --green-white: #ebf5f1;
}
