// Stanford Stripe
$stanford-stripe-color: $stanford-black;

.su-brand-bar__logo {
  color: $stanford-stripe-color;
  display: inline-block;
  font-size: 1rem;
  font-family: $font-family-serif;
  font-weight: 400;
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga";
  margin-top: 0.125rem;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $stanford-stripe-color;
    text-decoration: none;
  }
}
