/* Stanford Stripe */

.su-brand-bar {
  width: 100%;
  height: 30px;
}

.su-brand-bar__logo {
  --stanford-stripe-color: var(--stanford-black);
  color: var(--stanford-stripe-color);
  display: inline-block;
  font-size: 1rem;
  font-family: var(--font-family-serif);
  font-weight: 400;
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga";
  margin-top: 0.125rem;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: var(--stanford-stripe-color);
    text-decoration: none;
  }
}
