//Colors
$beige-5-percent: #fbfbf9;
$beige-10-percent: #f2f1eb;
$blackish: #2e2d29;
$blue: #00548f;
$cardinal-red: #8c1515;
$cool-grey: #4d4f53;
$light-sandstone: #f9f6ef;
$stone: #544948;
$white: #fff;

//Variables
$sul-bg-color: $beige-5-percent;
$sul-btn-disabled-color: $cool-grey;
$sul-footer-bg-color: $beige-10-percent;
$sul-h1-font-color: $blackish;
$sul-h2-font-color: $stone;
$sul-h3-font-color: $cool-grey;
$sul-h4-font-color: $cool-grey;
$sul-link-color-border: $blue;
$sul-search-box-bg-color: $light-sandstone;
$sul-shadow-color: rgba(0, 0, 0, .2);
$sul-text-color: $blackish;
