.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: none;
}

.breadcrumb-item:not(:last-child)::after,
#breadcrumb-home::after{
  content: ">";
  margin-left: 0.5rem;
}

.al-search-breadcrumb {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.al-show-breadcrumb {
  .breadcrumb-item,
  #breadcrumb-home {
    font-size: var(--bs-body-font-size);
    line-height: 1.75rem;
    margin-right: 0.5rem;
  }

  .breadcrumb-container a,
  .breadcrumb-item {
    display: inline;
    word-break: break-word;
    font-weight: 350;
  }

  .breadcrumb-container svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    margin-right: 0.25rem;
  }
}
