:root {
  /* arclight override */
  --al-content-icon-color: var(--stanford-digital-blue);
  --drop-shadow-filter: drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.25))
                        drop-shadow(-2px 2px 6px rgba(255, 255, 255, 0.2));
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* make the content area full bleed */
#main-container {
  padding: 0;
  overflow-x: hidden;
  flex: 1;
}

.navbar {
  --bs-navbar-nav-link-padding-y: 1rem;
  --bs-navbar-nav-link-padding-x: 1rem;  
}

.form-control:focus {
  border-color: var(--stanford-digital-blue);
  box-shadow: 0 0 0 0.25rem rgba(var(--stanford-digital-blue-rgb), 0.25);
}

.warning-icon svg {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--stanford-digital-red);
}

.grecaptcha-badge {
  visibility: hidden;
}

.modal-header {
  .btn-close:focus {
    box-shadow: none;
  }
}

.collection-info-pill {
  background-color: var(--greyish-cyan-light);
  border: 1px solid var(--stanford-palo-alto-dark);
  color: var(--stanford-palo-alto-dark);
}

.document-info-pill {
  background-color: white;
  border: 1px solid var(--stanford-30-black);
  color: black;
}

label.toggle-bookmark {
  color: var(--stanford-digital-blue);
}

.view-type .btn {
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
  padding: 0.25rem;
}

/* NOTE: Component library is competing with some styles from Arclight. */
/* May be able to avoid these svg styles if we address: */
/* https://github.com/projectblacklight/arclight/issues/1595 */
.btn-outline-secondary.remove:hover svg {
  fill: var(--stanford-digital-red);
}

/* TODO: Does this belong in the component library? */
.btn-outline-primary {
  svg {
    fill: var(--stanford-digital-blue);
  }
  &.active {
    color: white;
    background-color: var(--stanford-digital-blue-darker);
    svg {
      fill: white;
    }
  }
}

.divider-dot {
  color: white;
  font-size: 1.25rem;
  font-weight: normal;
}

#bookmarks_nav .badge-secondary {
  --bs-badge-color: black;
  --bs-secondary-rgb: 255, 255, 255;
  --bs-bg-opacity: 1;
  margin-left: 0.25rem;
}

#main-flashes .alert {
  /* Make the top margin equal to the bottom margin */
  margin-top: var(--bs-alert-margin-bottom)
}

#using-this-site {
  flex-basis: 100%;
  padding: .5rem 1rem 1rem 1rem;
}
@media (min-width: 992px) {
  /* same basis as navbar */
  #using-this-site {
    padding: 0;
    flex-basis: 75%;
  }
  #access-use-content > div {
    width: 100%
  }
}