body {
  --bs-heading-color: $primary;
}

@mixin sulLinkStyle {
  text-decoration: none;
  color: $link-dark-color;
  font-weight: 450;

  &:hover,
  &:focus-visible {
    color: $link-dark-color;
    text-decoration: underline;
  }
}

a {
  @include sulLinkStyle;
}

.form-control:focus {
  border-color: $link-dark-color;
  box-shadow: 0 0 0 0.25rem rgba($link-dark-color, 0.25);
}

.bg-dark a {
  color: $link-light-color;
}

.warning-icon svg {
  height: 1.25rem;
  width: 1.25rem;
  color: $stanford-digital-red;
}

.grecaptcha-badge {
  visibility: hidden;
}

.modal-header {
  .btn-close:focus {
    box-shadow: none;
  }
}