body {
  --bs-heading-color: $primary;
}

a,
.btn-link {
  text-decoration: var(--bs-link-decoration);
  font-weight: 450;
  &:hover,
  &:focus-visible {
    text-decoration: var(--bs-link-hover-decoration);
  }
}

.btn-sm {
  --bs-btn-border-radius: 0;
}

.form-control:focus {
  border-color: $link-dark-color;
  box-shadow: 0 0 0 0.25rem rgba($link-dark-color, 0.25);
}

.bg-dark a {
  color: $link-light-color;
}

.warning-icon svg {
  height: 1.25rem;
  width: 1.25rem;
  color: $stanford-digital-red;
}

.grecaptcha-badge {
  visibility: hidden;
}

.modal-header {
  .btn-close:focus {
    box-shadow: none;
  }
}
