/** AL Sidebar and Document area layout **/


#sidebar {
  overflow-y: auto;
  
  @include media-breakpoint-up(lg) {
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

#sidebar-scroll-wrapper {
  @include media-breakpoint-up(lg) {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 180px);
  }
}

// make the wrapping .collection-sidebar full bleed, 
.collection-sidebar {
  padding: 0;

  .sidebar-section {
    border-bottom: 0;
  }

  // and add padding within .collection-sidebar 
  .al-show-actions-box,
  #sidebar-scroll-wrapper {
    // padding around the light-green section
    padding: 2rem 2rem 2rem 3rem;
  }

  #sidebar {
  overflow-y: auto;
  

  @include media-breakpoint-up(lg) {
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

#sidebar-scroll-wrapper {
  @include media-breakpoint-up(lg) {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 180px);
  }
}

  .al-sidebar-navigation-context,
  #collection-context {
    // overriding this from AL Core allows it to hit the edge of #sidebar-scroll-wrapper above
    margin-left: 0;
  }

  .al-show-actions-box {
    background-color: $green-white;
  }

  .al-collection-context-actions {
    .btn-sm {
        --bs-btn-border-radius: 0;
      }
      // this targets each button within the .al-collection-context-actions
      > * {
        margin-right: 0.5rem;
      }
  }

  .al-show-actions-box-info .btn-secondary,
  .al-collection-context-collapsible .btn-secondary {
    // rather than overriding the entire components inherited from AL Core to change the .btn-secondary class to the more appropriate .btn-outline-secondary, just change the colors in these cases
    background-color: white;
    color: black;
    border-radius: 0;
    // override the icon from AL Core
    svg.bi {
      display: none;
    }
  }

  // more padding for the "Expand" sidebar button
  .al-collection-context-collapsible .btn-secondary {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $stanford-palo-alto-dark;
      color: white;
    }
  }
}

// match padding in document area for even space across page top 
.show-document {
  // needs to be !important to override AL Core
  padding: 2rem !important;
}

// Overrides AL Core to style metadata section titles
.show-document .al-show-sub-heading {
  text-transform: none;
  font-size: 28px;
}

// Overrides AL Core to change style and align the metadata label to the left
#metadata .dl-invert dt,
.show-document > * .dl-invert dt {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: black
}

// AL Core overrides for metadata sections and the top title areas
// Those borders should look the same but have different types of markup in AL Core
#metadata .dl-invert,
.title-container,
#about-this-level,
.al-show-breadcrumb {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 2rem;
}

.al-search-breadcrumb {
  padding-top: 1rem;
}

.breadcrumb a, 
.breadcrumb-item {
  font-size: 16px;
  font-weight: 400;
}

.al-sidebar-navigation-context {
  ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    color: $stanford-digital-blue;
  }
  a.nav-link  {
   color: $stanford-digital-blue;
  }
}

// These are the square badges in the heirarchy that show the number of items
.documentHeader .bg-secondary {
  // Bootstrap makes this !important, so we need to override it with !important
  background-color: #EDEDED !important;
  border: 1px solid #979797;
  color: black;
  font-weight: 400;
}

.al-hierarchy-highlight > .documentHeader {
  background-color: $green-white;
}


/**  Search Tools **/
#sortAndPerPage {
  // makes it even with top of sidebar content
  padding-top: 0.5rem;
}

// Spacing between each applied param button
#appliedParams > a {
  margin-right: 0.5rem;
}

.search-widgets {
  margin-top: 1.25rem;
}

.btn-outline-secondary:not(:active):not(:focus) {
  --bs-btn-color: black;
}

a.btn-outline-secondary:hover,
a.btn-outline-secondary:focus {
  background-color: $secondary;
  border-color: $secondary;
  text-decoration: none;
}

span.constraint-value:hover, 
span.constraint-value:focus {
  background-color: white;
  color: black;
}

.dropdown-item.active {
  background-color: $secondary;
}

.al-grouped-results .al-document-extent {
  border-radius: 0;
}

.documents-list article.document .document-title-heading .al-document-extent {
  border-radius: 0;
  display: block;
  width: fit-content;
  margin-top: 1rem;
  color: black;
}

.al-repository-card .al-repository,
.al-repository-description,
.facets-toggleable-md {
  border: none;
}

.truncator .view-more,
.truncator .view-less {
  color: $stanford-digital-blue;
  font-weight: 600;
}

.truncator .btn-link {
  color: $stanford-digital-blue;
}

.truncator .icon {
  font-size: 10px;
}

.paginate-section .active > .page-link {
  background-color: $stanford-palo-alto-dark;
  border-color: $stanford-palo-alto-dark;
  color: white;
}

.paginate-section .page-link {
  color: $stanford-digital-blue;
}

.page-item.disabled .page-link {
  color: black;
}

.al-online-content-icon {
  align-content: center;
}

// Digital contents icons, alerts
// AL Core overrides
article.document .al-online-content-icon .blacklight-icons svg,
.online-contents .al-online-content-icon .blacklight-icons svg,
#facet-digital_content .al-online-content-icon .blacklight-icons svg {
  fill: $stanford-palo-alto-light;
}

article.document .al-online-content-icon .blacklight-icons svg {
  margin-left: 0.5rem;
}

.tooltip-inner {
  background-color: $stanford-palo-alto-light;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  color: white;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $stanford-palo-alto-light;
}

.title-container .online-contents h2 {
  text-transform: none;
  margin-bottom: 0;
  align-content: center;
  margin-left: 1rem;
}

.online-contents.card {
  border: 0;
  padding: 0;
  background-color: $green-white;
  .card-body {
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-left: 8px solid $stanford-palo-alto-dark;
  }
}

#facet-digital_content.card {
  border: 0;
  margin-bottom: 1rem;
  background-color: $green-white;  
  .card-body {
    padding: 1rem;
    border-left: 8px solid $stanford-palo-alto-dark;
  }
  a {
    color: $stanford-digital-blue;
  }
  .facet-label,
  .facet-select {
    font-weight: bold;
  }
  .facet-count {
    font-weight: normal;
  }
}

#facet-digital_content.card.facet-limit-active {
  background-color: $whisper;
}

// Collapse +/- indicators
// Override from AL Core to change the SVG fill color
// Font Awesome Free 6.5.2 by @fontawesome - https: //fontawesome.com License - https://fontawesome.com/license/free (CC BY 4.0 License) Copyright 2024 Fonticons, Inc.
$sul-hierarchy-view-expand-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='#{$stanford-digital-blue}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z'/></svg>") !default;

$sul-hierarchy-view-collapse-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='#{$stanford-digital-blue}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z'/></svg>") !default;

.al-toggle-view-children {
  background-image: escape-svg($sul-hierarchy-view-expand-icon);

  &:not(.collapsed) {
    background-image: escape-svg($sul-hierarchy-view-collapse-icon);
  }
}