/** AL Sidebar and Document area layout **/
:root {
  --al-toggle-icon-color: var(--stanford-digital-blue);
}

#sidebar {
  overflow-y: auto;
}

@media (min-width: 992px) {
  .collection-sidebar {
    #sidebar {
      overflow: hidden;
      margin-bottom: 1rem;

      #sidebar-scroll-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100vh - 180px);
      }
    }
  }
}

/* make the wrapping .collection-sidebar full bleed, */
.collection-sidebar {
  padding: 0;

  .sidebar-section {
    border-bottom: 0;
  }

  .al-show-actions-box {
    border: 0;
  }

  /* and add padding within .collection-sidebar */
  .al-show-actions-box,
  #sidebar-scroll-wrapper {
    /* padding around the light-green section */
    padding: 2rem 2rem 2rem 3rem;
  }

  .al-sidebar-navigation-context,
  #collection-context {
    /* overriding this from AL Core allows it to hit the edge of #sidebar-scroll-wrapper above */
    margin-left: 0;
  }

  /* this targets each button within the .al-collection-context-actions */
  .al-collection-context-actions > * {
    margin-right: 0.5rem;
  }

  .al-show-actions-box-info .btn-secondary,
  .al-collection-context-collapsible .btn-secondary {
    /* rather than overriding the entire components inherited from AL Core to change the .btn-secondary class to the more appropriate .btn-outline-secondary, just change the colors in these cases */
    background-color: white;
    color: var(--stanford-digital-blue);
    /* override the icon from AL Core */
    svg.bi {
      display: none;
    }
  }

  /* more padding for the "Expand" sidebar button */
  .al-collection-context-collapsible .btn-secondary {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem 1rem;
  }
}

/* match padding in document area for even space across page top */
.show-document {
  /* needs to be !important to override AL Core */
  padding: 2rem !important;
}

/* Overrides AL Core to style metadata section titles */
.show-document .al-show-sub-heading {
  text-transform: none;
  font-size: 28px;
}

/* Overrides AL Core to change style and align the metadata label to the left */
#metadata .dl-invert dt,
.show-document > * .dl-invert dt {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

/* AL Core overrides for metadata sections and the top title areas
Those borders should look the same but have different types of markup in AL Core */
#using-these-materials,
#metadata .dl-invert,
.title-container,
#about-this-level,
.al-show-breadcrumb {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 2rem;
}

#collection-source {
  border-top: 1px solid #d1d1d1;
}

#using-these-materials {
  ul {
    color: var(--stanford-digital-blue);
  }
}

.al-search-breadcrumb {
  padding-top: 1rem;
}

.breadcrumb a,
.breadcrumb-item {
  font-size: 16px;
  font-weight: 400;
}

.al-sidebar-navigation-context {
  ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    color: var(--stanford-digital-blue);
  }
  a.nav-link {
    color: var(--stanford-digital-blue);
  }
}

/* These are the badges in the heirarchy that show the number of items */
.documentHeader .bg-secondary {
  --bs-secondary-rgb: var(--stanford-70-black-rgb);
  --bs-badge-font-weight: 400;
  --bs-border-radius: 0.625rem;
  --bs-badge-font-size: 0.875rem;
  --bs-badge-padding-x: 0.375rem;
  --bs-badge-padding-y: 0.125em;
  margin-left: 0.25rem;
}

.al-hierarchy-highlight > .documentHeader {
  background-color: var(--green-white);
}

/**  Search Tools **/
#sortAndPerPage {
  /* makes it even with top of sidebar content */
  padding-top: 0.5rem;
}

/* Spacing between each applied param button */
#appliedParams > a {
  margin-right: 0.5rem;
}

.search-widgets {
  margin-top: 1.25rem;
}

.al-show-actions-box .dropdown-item:active {
  svg.bi {
    color: white;
  }
}

.documents-list article.document .document-title-heading .al-document-extent {
  border-radius: 0;
  display: block;
  width: fit-content;
  margin-top: 1rem;
  color: black;
}

.al-repository-card .al-repository,
.al-repository-description,
.facets-toggleable-md {
  border: none;
}

.truncator .view-more,
.truncator .view-less {
  color: var(--stanford-digital-blue);
  font-weight: 600;
}

.truncator .btn-link {
  color: var(--stanford-digital-blue);
}

.truncator .icon {
  font-size: 10px;
}

/* arclight overrides */
article.document .al-online-content-icon .blacklight-icons svg,
.al-online-content-icon .blacklight-icons svg {
  fill: var(--stanford-digital-blue);
  height: 24px;
  width: 24px;
}

article.document .al-online-content-icon .blacklight-icons svg {
  margin-left: 0.5rem;
}

.tooltip-inner {
  background-color: var(--stanford-digital-blue);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  color: white;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--stanford-digital-blue);
}

.title-container .online-contents h2 {
  text-transform: none;
  margin-bottom: 0;
  align-self: center;
  margin-left: 1rem;
}

.online-contents.card {
  border: 0;
  padding: 0;
  background-color: var(--green-white);
  .card-body {
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-left: 8px solid var(--stanford-palo-alto-dark);
  }
}

#facet-digital_content.card {
  border: 0;
  margin-bottom: 1rem;
  background-color: var(--stanford-fog-light);
  filter: drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.25))
  drop-shadow(-2px 2px 6px rgba(255, 255, 255, 0.2)); 
    .card-body {
    padding: 1rem;
    border-left: 8px solid var(--stanford-palo-alto-dark);
  }
  a {
    color: var(--stanford-digital-blue);
  }
  .facet-label,
  .facet-select {
    font-weight: bold;
  }
  .facet-count {
    font-weight: normal;
  }
}

#facet-digital_content.card.facet-limit-active {
  background-color: var(--stanford-10-black);
}

.view-type-group .btn:hover svg {
  fill: var(--stanford-digital-blue);
}