/* Date Range Facet */

#facet-date_range {
  /* Hide some features that don't work or we don't want */
  .distribution,
  .more_facets,
  .facet-values.missing,
  .facet-count {
    display: none;
  }
  p.range.subsection {
    .facet-limit-active & {
      /* Don't show the complete date range if one is already applied */
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .facets {
    padding: 0 calc(var(--bs-gutter-x)* 0.5);
    h2.facets-heading {
      padding: 0;
    }
  }
}
