.sidebar-toggle {
  margin-left: -1.5rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--stanford-palo-alto-dark);
}

.navbar-logo {
  background-size: auto;
}

/* Search bar in header -- interior pages */
.navbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--stanford-black);
  border-top: none;
  margin-bottom: 0;

  /* fill entire width on small screens, 75% when larger */
  .search-query-form {
    gap: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .searchtips-links {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .navbar-search .search-query-form {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* custom-select aka the fielded search (keyword, place, etc.) styles 
   display only on larger screens
*/
#search_field {
  border-radius: 0;
  display: none;
}

@media (min-width: 768px) {
  #search_field {
    display: block;
  }
}

/* Misc other styles */
.searchtips-link a {
  color: white;
}

.blacklight-icons-outline_info svg {
  fill: white;
}
