/* Search bar in header -- interior pages */
.navbar-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--stanford-black);
  border-top: none;
  margin-bottom: 0;
   
  .form-select {
    background-size: 1.125rem 1.125rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* fill entire width on small screens, 75% when larger */
  .search-query-form {
    gap: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .searchtips-links {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .navbar-search .search-query-form {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* custom-select aka the fielded search (keyword, place, etc.) styles 
   display only on larger screens
*/
.custom-select {
  border-radius: 0;
  display: none;
}

@media (min-width: 768px) {
  .custom-select {
    display: block;
  }
}

.al-masthead ~ .navbar-search .custom-select.form-select {
  width: auto;
  flex: 0 0 auto;
  border: none;
  border-right: var(--stanford-black) 1px solid;
}

/* Misc other styles */
.searchtips-link a {
  color: white;
}

.blacklight-icons-outline_info svg {
  fill: white;
}

.beta-banner {
  background-color: var(--stanford-illuminating);
  color: #000;
}

.beta-banner a {
  color: #0065ad;
}
