.input-group {
  .search-btn {
    background-color: var(--bs-body-bg);
    border-color: #dee2e6; // Border color of Blacklight inputs
    border-left: none;
    padding: 0;
    padding-right: 5px;

    .blacklight-icons {
      margin-top: 0.5rem;
    }

    &.btn:active {
      background-color: var(--stanford-palo-alto-light);
      border-color: var(--stanford-palo-alto-light);
    }
  }

  > .search-autocomplete-wrapper ul li:active {
    color: var(--stanford-black);
    background-color: var(--grey-lighter);
  }
}

.al-masthead ~ .navbar-search {
  border-top: none;
  background-color: var(--stanford-black);
  margin-bottom: 0;

  .input-group-text {
    background-color: var(--stanford-black);
    border: none;
    color: white;
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .within-collection-dropdown {
    padding-right: 0.25rem;

    .input-group-text {
      padding-left: 0;
      padding-right: 1.25rem;
    }
  }

  .form-select {
    background-size: 1.125rem 1.125rem;
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-up(lg) {
      padding-right: 5rem;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 8rem;
    }
  }

  // Search field selector and full text search box input group
  .input-group:nth-of-type(2) {
    @include media-breakpoint-up(lg) {
      min-width:100%;
    }
  }

  .searchtips-link a {
    color: white;
  }

  .blacklight-icons-outline_info svg {
    fill: white;  
  }

  #search_field {
    margin-right: 0.825rem;
  }
}

.beta-banner {
  background-color: var(--stanford-illuminating);
  // These aren't official stanford colors
  // but no combination of official interactive colors
  // meet accessibility contrast requirements on this background.
  color: #000;
  a {
    color: #0065ad;
  }
}
