.blacklight-landing_page {
  --bs-link-decoration: none;
  --bs-link-hover-decoration: underline;

  body a {
    color: $link-dark-color;
  }

  h2 {
    font-size: 2.25rem;
    font-family: $font-family-serif;
    font-weight: bold;
  }

  #main-container .container {
    @include media-breakpoint-up(lg) {
      padding-left: 3rem;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 5rem;
    }
  }
}

.collection-count {
  font-family: $font-family-serif;
}

.landing-page-container section {
  padding-left: 0;
  padding-right: 0;
}

$featured-item-height: 22rem;
$featured-teaser-overhang: 1rem;
#featured-items-carousel {
  .carousel-item {

    @include media-breakpoint-up(lg) {
      img {
        height: $featured-item-height;
        object-fit: cover;
      }
    }
  }

  .carousel-caption {
    font-style: italic;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
  }
}

.featured-teasers {
  position: relative;
  z-index: 2;
}

#landing-page-search {
  background-image: linear-gradient(to right, #EFEFEF, #D0D8D8);
  // 30px matches height of stanford top white brand bar
  padding-top: 30px;

  #autocomplete-popup li {
    color: $stanford-black;
  }

  li a {
    font-size: 1.125rem;
    font-weight: 350;
  }

  @include media-breakpoint-up(md) {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    
    ul li {
      display: inline-block;
      margin-right: 1.5rem;
      position: relative;
    }
    
    ul li:not(:first-child)::before {
      content: '•';
      position: absolute;
      left: -1rem;
      top: 0.05rem;
    }
  }

  @include media-breakpoint-up(lg) {
    height: calc($featured-item-height - $featured-teaser-overhang);
  }
}

.search-query-form > .input-group {
  padding: 0;
  border: 1px solid black;
  height: 3rem;
}

.input-group > .search-autocomplete-wrapper, #autocomplete-popup {
  border-radius: 0;
}

.input-group {
  input {
    font-style: italic;
  }
}

.card-container {
  --bs-gutter-x: 0.75rem;
}

.blacklight-landing_page .card {
  --bs-border-width: 0;
  --bs-border-radius: 0;
  $btn-border-radius: none;
  margin-top: 2rem;
  margin-bottom: -1.5rem;
  background-color: $card-background-color;

  a.btn {
    --bs-border-radius: 0;
    color: $link-light-color;
    width: 12rem;
  }

  .card-img-top, .card-body {
    width: 90%;
    position: relative;
    top: -2rem;
    margin: auto;
  }

  .card-body {
    margin-bottom: -1.5rem;
  }

  ul {
    padding-left: 1.25rem;
  }

  li::marker {
    color: $link-dark-color;
  }

  h3 {
    font-weight: bold;
  }
}