.blacklight-landing_page {
  --featured-item-height: 18.75rem;
  --featured-teaser-overhang: 1rem;

  #main-container h1,
  h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .search-btn {
    align-items: center;
  }
}

#featured-item-wrapper {
  .featured-item-caption {
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
  }
}

.featured-teasers {
  position: relative;
  z-index: 2;
}

#landing-page-search {
  --bs-heading-color: var(--bs-body-color);
  background-image: linear-gradient(to right, #efefef, #d0d8d8);
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;

  #autocomplete-popup li {
    color: var(--stanford-black);
  }

  .searchtips-link {
    a {
    color: var(--stanford-black)
    }
    svg {
      fill: var(--stanford-black);
    }
  }


  li a {
    font-size: 1.125rem;
    font-weight: 350;
  }
}

@media (min-width: 992px) {
  #featured-item-wrapper img{
    height: var(--featured-item-height);
    object-fit: cover;
  }
  #landing-page-search {
    height: calc(var(--featured-item-height) - var(--featured-teaser-overhang));
  }
}

@media (min-width: 768px) {
  #landing-page-search {
    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .search-links ul li {
      display: inline-block;
      margin-right: 1.5rem;
      position: relative;
    }

    .search-links ul li:not(:first-child)::before {
      content: "•";
      position: absolute;
      left: -1rem;
      top: 0.05rem;
      color: var(--stanford-digital-blue);
    }
  }
}

#about-landing {
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;
  padding-bottom: 30px;
}

#autocomplete-popup {
  border-radius: 0;
}

.landing-page-access,
.landing-page-info {
  --bs-border-color: var(--stanford-70-black);

  .row {
    --bs-gutter-x: 2.875rem;
    --bs-gutter-y: 2.875rem;
  }

  .card-body {
    .row {
      --bs-gutter-x: 1.25rem;
      --bs-gutter-y: 1.25rem;
    }
  }

  .card {
    --bs-card-border-width: 0;
  }
}

.landing-page-access {
  .card {
    --bs-card-border-radius: 0;
    --bs-card-bg: var(--grey-lighter);
  }

  .blacklight-icons svg {
    fill: var(--stanford-digital-green);
  }

  .blacklight-icons.library-closed svg {
    fill: var(--stanford-black);
  }
}

@media (min-width: 992px) {
  .landing-page-info .info-card:nth-child(even) {
    .card:before  {
      content: "";
      position: absolute;
      top: 50%;
      left: -1.438rem;
      transform: translateY(-50%);
      height: 80%;
      width: 1px;
      background-color: var(--stanford-70-black);
    }
  }
}
