.blacklight-landing_page {
  --featured-item-height: 18.75rem;
  --featured-teaser-overhang: 1rem;

  #main-container h1,
  h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .search-btn {
    align-items: center;
  }
}

#featured-item-wrapper {
  .featured-item-caption {
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
  }
}

.featured-teasers {
  position: relative;
  z-index: 2;
}

#landing-page-search {
  --bs-heading-color: var(--bs-body-color);
  background-image: linear-gradient(to right, #efefef, #d0d8d8);
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;

  #autocomplete-popup li {
    color: var(--stanford-black);
  }

  .searchtips-link {
    a {
    color: var(--stanford-black)
    }
    svg {
      fill: var(--stanford-black);
    }
  }

  .input-group > .search-autocomplete-wrapper input:focus {
    box-shadow: none;
  }

  .search-query-form .input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(var(--stanford-digital-blue-rgb), 0.25);
  }

  /* Remove left border from the search input on the landing page */
  .input-group .search-autocomplete-wrapper::before {
    width: 0px;
  }

  .input-group input {
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 0.75rem;
  }
    
  @media (min-width: 768px) {
    .input-group input {
      background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="32" height="32" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="%23585754" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
      background-repeat: no-repeat;
      background-position: 0.5rem center;
      padding-left: 2.75rem;
    }
  }

  li a {
    font-size: 1.125rem;
    font-weight: 350;
  }
}

@media (min-width: 992px) {
  #featured-item-wrapper img{
    height: var(--featured-item-height);
    object-fit: cover;
  }
  #landing-page-search {
    height: calc(var(--featured-item-height) - var(--featured-teaser-overhang));
  }
}

@media (min-width: 768px) {
  #landing-page-search {
    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .search-links ul li {
      display: inline-block;
      margin-right: 1.5rem;
      position: relative;
    }

    .search-links ul li:not(:first-child)::before {
      content: "•";
      position: absolute;
      left: -1rem;
      top: 0.05rem;
      color: var(--stanford-digital-blue);
    }
  }
}

#about-landing {
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;
  padding-bottom: 30px;
}

#autocomplete-popup {
  border-radius: 0;
}

.input-group {
  input {
    font-style: italic;
  }
}

.landing-page-access,
.landing-page-info {
  --bs-border-color: var(--stanford-70-black);

  .row {
    --bs-gutter-x: 2.875rem;
    --bs-gutter-y: 2.875rem;
  }

  .card-body {
    .row {
      --bs-gutter-x: 1.25rem;
      --bs-gutter-y: 1.25rem;
    }
  }

  .card {
    --bs-card-border-width: 0;
  }
}

.landing-page-access {
  .card {
    --bs-card-border-radius: 0;
    --bs-card-bg: var(--grey-lighter);
  }

  .blacklight-icons svg {
    fill: var(--stanford-digital-green);
  }

  .blacklight-icons.library-closed svg {
    fill: var(--stanford-black);
  }
}

@media (min-width: 992px) {
  .landing-page-info .info-card:nth-child(even) {
    .card:before  {
      content: "";
      position: absolute;
      top: 50%;
      left: -1.438rem;
      transform: translateY(-50%);
      height: 80%;
      width: 1px;
      background-color: var(--stanford-70-black);
    }
  }
}
