.blacklight-landing_page {
  --featured-item-height: 22rem;
  --featured-teaser-overhang: 1rem;

  overflow-x: hidden;

  #main-container h1,
  h2 {
    font-size: 2.25rem;
    font-family: var(--font-family-serif);
    font-weight: bold;
  }

  /* make the content area full bleed */
  #main-container {
    padding: 0;
  }
}

.collection-count {
  font-family: var(--font-family-serif);
}

@media (min-width: 992px) {
  #featured-item-wrapper .featured-item img {
    height: var(--featured-item-height);

    object-fit: cover;
  }
}

#featured-item-wrapper {
  .featured-item-caption {
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
  }
}

.featured-teasers {
  position: relative;
  z-index: 2;
}

#landing-page-search {
  background-image: linear-gradient(to right, #efefef, #d0d8d8);
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;

  #autocomplete-popup li {
    color: var(--stanford-black);
  }

  .input-group > .search-autocomplete-wrapper input:focus {
    box-shadow: none;
  }

  .search-query-form .input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-link-color-rgb), 0.25);
  }

  li a {
    font-size: 1.125rem;
    font-weight: 350;
  }
}

@media (min-width: 768px) {
  #landing-page-search {
    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .search-links ul li {
      display: inline-block;
      margin-right: 1.5rem;
      position: relative;
    }

    .search-links ul li:not(:first-child)::before {
      content: "•";
      position: absolute;
      left: -1rem;
      top: 0.05rem;
      color: var(--bs-link-color);
    }
  }
}

@media (min-width: 992px) {
  #landing-page-search {
    height: calc(var(--featured-item-height) - var(--featured-teaser-overhang));
  }
}

#about-landing {
  /* 30px matches height of stanford top white brand bar */
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-query-form > .input-group {
  padding: 0;
  height: 3rem;
}

.input-group > .search-autocomplete-wrapper,
#autocomplete-popup {
  border-radius: 0;
}

.input-group {
  input {
    font-style: italic;
  }
}
