/* Input group styles -- make sure to only impact input-groups within .navbar-search */
.search-query-form {
  .input-group {
    #search_field.search-field {
      border-left: var(--search-q-border);
    }
  }
}
