<div class="offcanvas-lg offcanvas-start sticky-lg-top" tabindex="-1" id="sidebar">
  <%= render CollectionContextComponent.new(presenter: document_presenter(document), download_component: DocumentDownloadComponent) %>
  <div id="sidebar-scroll-wrapper" class="p-3">
    <%# render 'show_tools', document: document %>
    <%= render CollectionOverviewComponent.new(document: document,
                                              collection_presenter: document_presenter(document.collection),
                                              partials: blacklight_config.show.metadata_partials)
    %>
    <% if document.collection_components? %>
    <div id="collection-context" class="sidebar-section">
      <h2><%= t('arclight.views.show.has_content') %></h2>
      <%= turbo_frame_tag "al-hierarchy-#{document.root}", loading: 'lazy', src: hierarchy_solr_document_path(id: document.root, nest_path: @document.nest_path, hierarchy: true) %>
    </div>
    <% end %>
  </div>
</div>
